<head>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyAD33aJqtms3_DV30NlfIjkML0NHl96bHY",
    authDomain: "yelpbathroom.firebaseapp.com",
    databaseURL: "https://yelpbathroom.firebaseio.com",
    projectId: "yelpbathroom",
    storageBucket: "",
    messagingSenderId: "618730258550"
    };
    firebase.initializeApp(config);
  </script>
</head>
<body>
  <h6>Create a listing:</h6>
  <br />
  <form action="/createlisting", method="GET" id="createListingForm">
    <input type="text" name="title" placeholder="Enter Title"> <br />
    <textarea rows="4" cols="50" name="desc" form="createListingForm"> Enter Listing Description... </textarea> <br />
    <input type="submit" value="Submit">
  </form>
</body>
